*{
    margin: 0;
    padding: 0;
}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box {
    background-color: #fff;
    width: 300px;
    padding: 20px;    
    top: 50%;
    left: 50%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}

img {
    width: 100%;
    border-radius: 30px;
}

#first {
    font-size: 1.4em;
    font-weight: 800;
    padding: 0 30px;
}
#second {
    font-size: 1em;
    font-weight: 400;
    padding: 20px 30px;
    color: gray;
}