*{
    margin: 0;
    padding: 0;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    }

.box {
    background-color: #fff;
    width: 300px;
    padding: 20px;    
    top: 50%;
    left: 50%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}

img {
    width: 100%;
    border-radius: 10px;
}

#first {
    font-size: 1.3em;
    font-weight: 700;
    padding: 20px 20px 0px 20px;
    color: hsl(218, 44%, 22%);

}
#second {
    font-size: 1em;
    font-weight: 400;
    padding: 20px 15px;
    color: hsl(220, 15%, 55%);
}